*.swp
*.pyc
.waf*
.lock-waf*
build
*-gen.h
mypaint-config.h


#*.so
#*.a
#*.o
#*.os
#*~
#*#
#.emacs.*
#.sconsign.dblite
#options.cache
#*.mo
#*.pot
#POTFILES.in
#.#*
#*.pstats
#*.pc
#*.autosave
#*.gir
#*.typelib
#tests/test-details
